@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,500,700&display=swap');

 body{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 28px;
    word-spacing: 1px;
    height: 1000px;
} 

header.my-header {
  background-color: #5d7272;
    
    padding: 22px;
    position: sticky;
    top: 0;
    height: 53px;
    }
 h1.my-name{
  font-family: monospace;
  font-size: 30px;
  margin-top: 8px;
  letter-spacing: 4px;
  font-weight: 500;
  padding-left: 50px;
  color: black;
}
 nav ul li {
    display: inline-block;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
nav ul li a:hover{
    color: rgb(233, 244, 245);
   background-color: rgb(115, 124, 124);
   padding: 10px;
}

nav.navBar {
  float: right;
} 


#Home {
   
      background: url(https://cdn.pixabay.com/photo/2019/04/10/11/56/watercolour-4116932_960_720.png);
      background-repeat: no-repeat;
      background-size: cover;
      
      height: 400px;
      text-align: center;
      padding-top: 153px;
}
h2 {
    font-weight: bold;
    font-size: 50px;
  
    color: #640d4a;
    font-family: initial;
    padding: 30px;
    letter-spacing: 14px;
    margin-top: -30px;
   
}

p.hi-people {
  font-family: monospace;
  font-size: 27px;
  padding-bottom: 18px;
}

p.myBlog {
  font-family: monospace;
  font-size: 20px;
}

.butt {
  background-color: #924c7e;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 50px;
  border-radius: 162px;
}

/* Darker background on mouse-over */
.butt:hover {
  background-color: #ad84a1;
}





#About {
    padding: 40px 0px 0 44px;
    height: 500px;
background-color: rgb(244, 247, 247);

}

h2.about-me {
  font-size: 29px;
  text-align: center;
  letter-spacing: 6px;
}

.about-list {
  width: 19%;
  background-color: rgb(241, 235, 243);;
  padding: 15px 20px;
  float: left;
  margin-right: 10px;
  text-align: center;
  height: 324px;
  font-size: 17px;
  margin-top: 12px;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}

.about1-list {
  padding-top: 31px;
}


  img{
    max-height: 215px;
    max-width: 215px;
    width: 139px;
    height: 215px;
    border-radius: 73px;
    margin-left: 113px;
    margin-top: 28px;
  }

   i.fa.fa-envelope {
    float: right;
    margin-right: 82px;
    margin-top: 31px;
    font-size: 20px;
}
i.fa.fa-map-o {
  float: right;
  margin-right: 81px;
    margin-top: -164px;
  font-size: 19px;
}

i.fa.fa-mortar-board {
  float: right;
  margin-right: 92px;
    margin-top: -111px;
  font-size: 21px;
}

i.fa.fa-mobile-phone {
  float: right;
  margin-right: 188px;
  margin-top: -58px;
  font-size: 25px;
}

.social-media {
  padding: 32px;
} 


.icon-bar {
  position: fixed;
  top: 37%;
   -webkit-transform: translateY(-50%); 
   /* -ms-transform: translateY(-50%);
   transform: translateY(-50%);   */
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: rgb(153, 146, 146);
}

.facebook {
  background: #3B5998;
 
}

.twitter {
  background: #55ACEE;
  
}

.google {
  background: #dd4b39;

}

.linkedin {
  background: #007bb5;
 
}

.youtube {
  background: #bb0000;
 
}

#my-skills{
  height: 500px;
  background-color: rgb(255, 255, 246);
}

.my-skill {
  width: 50%;
  background-color: #ddd;
  margin-left: 317px;
 
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: rgba(112, 146, 98, 0.897);}
.css {width: 80%; background-color: rgb(63, 104, 138);}
.js {width: 65%; background-color: #a73c34;}
.c {width: 55%; background-color: #833770;}
.matlab {width: 60%; background-color: #e2e06e;}
.network {width: 65%; background-color: #df8c3f;}

#my-skills h2 {
  font-size: 38px;
  text-align: center;
  letter-spacing: 6px;
  font-weight: 700;
  margin-top: 13px;
}

#my-skills p{
  margin-left: 326px;
}

footer#Contact {
  margin-top: 79px;
    height: 35px;
    background-color: #5f7373cc;
  
 
}
#Contact p {
  text-align: center;
}
